*{
    margin: 0;
    padding: 0;
}
.toolbox-cont{
    background-color: rgb(102, 97, 97);
    height: 100px;
    display: flex;
    align-items: center;
}
.toolbox-priority-cont{
    display: flex;
    background-color: rgb(43, 41, 41);
    width: 300px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}
.color{
    width: 40px;
    height: 30px;
    background-color: aqua;
}
.color:hover{
    background-color: #485460;
}
.lightpink{
    background-color: lightpink;
}
.lightblue{
    background-color: lightblue;
}
.lightgreen{
    background-color: lightgreen;
}
.black{
    background-color: black;
}
.action-btn-cont{
    background-color: #3d3d3d;
    margin-left: 30px;
    height: 70px;
    width: 100px;
    display: flex;
}
.add-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    width: 50%;
}
.add-btn:hover{
    background-color: #4bb543;
}
.remove-btn:hover{
    background-color: #4bb543;
}
.remove-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    width: 50%;
}
.active{
    border: 5px solid lightsalmon;
}
.priority-color{
    height: 48px;
    width: 80px;
}
.modal-cont{
    display: none;
    height: 50vh;
    width: 45vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.textarea-cont{
    width: 75%;
    height: 100%;
    outline: none;
    background-color: #dfe4ea;
    resize: none;
    border: none;
    font-size: 32px;
}
.priority-colors-container{
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
}
.main-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.ticket-cont{
    height:192px;
    width: 200px;
    background-color: coral;
    position: relative;
}
.ticket-color{
    height: 16px;
}
.ticket-id{
    height: 32px;
    background-color: yellow;
}
.ticket-lock{
    position: absolute;
    right: 5px;
    bottom: 5px;
}